.custom-sidebar {
    width: 250px; /* Ajustez la largeur selon vos besoins */
    background-color: #f0f0f0; /* Couleur de fond de la barre latérale */
    padding: 20px; /* Espace intérieur de la barre latérale */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre portée pour l'effet de profondeur */
}

/* Style du titre de la barre latérale */
.custom-sidebar h3 {
    font-size: 1.5rem; /* Taille de la police du titre */
    color: #333; /* Couleur du texte du titre */
    margin-bottom: 10px; /* Marge inférieure du titre */
}

/* Style du contenu de la barre latérale */
.custom-sidebar p {
    font-size: 1rem; /* Taille de la police du contenu */
    color: #666; /* Couleur du texte du contenu */
    line-height: 1.5; /* Hauteur de ligne du contenu */
}

/* Style de la div conteneur */
.layout {
    display: flex; /* Utilisation de flexbox pour positionner les éléments */
    position: sticky;
    align-items: center; /* Alignement vertical des éléments sur le centre */
    justify-content: center; /* Alignement horizontal des éléments sur le centre */
    height: 100vh; /* Hauteur de la div conteneur pour remplir la hauteur de la fenêtre */
    background-color: #f8f8f8; /* Couleur de fond de la div conteneur */
}