<app-side-bar></app-side-bar>


<div class="card">
    <h2 class="last ">Appointments</h2>
    <p-table [value]="oppoints" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }" [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 5rem"></th>
                <th>Patient Name</th>
                <th>Patient Number</th>
                <th>Gender</th>
                <th>Date of Visit</th>
                <th>Time of Visit</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-opoint let-expanded="expanded">
            <tr>
                <td>
                    <p-button type="button" pRipple [pRowToggler]="opoint" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                </td>
                <td>{{ opoint.patient.name }}</td>
                <td>{{ opoint.patient.tel }}</td>
                <td>{{ opoint.patient.details.isMale }}</td>
                <td>{{ opoint.date }}</td>
                <td>{{ opoint.time }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-opoint>
            <tr>
                <td colspan="6">
                    <div class="p-3">
                        <div class="vital-card">
                            <p-card header="{{ opoint.patient.name }}">
                                <div class="vital-row">
                                    <div class="vital-section">
                                        <h3>Blood Glucose Before Meal</h3>
                                        <p>{{ opoint.patient.bloodGlucoseBeforeMeal }}</p>
                                    </div>
                                    <div class="vital-section">
                                        <h3>Temperature</h3>
                                        <p>{{ opoint.patient.temperature }}</p>
                                    </div>
                                    <div class="vital-section">
                                        <h3>Blood Pressure</h3>
                                        <p>{{ opoint.patient.bloodPressure }}</p>
                                    </div>
                                </div>
                                <div class="vital-row">
                                    <div class="vital-section">
                                        <h3>Blood Glucose After Meal</h3>
                                        <p>{{ opoint.patient.bloodGlucoseAfterMeal }}</p>
                                    </div>
                                    <div class="vital-section">
                                        <h3>Height</h3>
                                        <p>{{ opoint.patient.height }}</p>
                                    </div>
                                    <div class="vital-section">
                                        <h3>Weight</h3>
                                        <p>{{ opoint.patient.weight }}</p>
                                    </div>
                                </div>
                            </p-card>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
