.main-content {
    flex: 1; /* Le contenu principal prend toute la largeur disponible */
    padding: 20px; /* Espacement intérieur du contenu principal */
}
  
.input100 {
  
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    border-color: #35A7FF;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
  }
  button.search-button {
    margin-top: 40px; /* Ajoute un espace au-dessus du bouton */
    margin-bottom: 40px; /* Ajoute un espace en dessous du bouton */
}.vital-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0.5rem;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.vital-section {
    margin-bottom: 0.5rem;
}

.vital-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
