<div  class="header">     
    <nav>
        <div class="logo">
            <h1 style="color: black; margin-right: 650px;">Life Line</h1>
            <ul>
           
  <li><a href="#">Learn more</a></li>
  <li><button class="explore-button"  (click)="goToLogin()" >Login</button></li>
  <li><button class="enroll-button" (click)="goToSingup()"> <p id="next">SignUp</p></button></li>
  
  
            </ul>
        </div>
        
    </nav>
  </div>
  <div class="container">
    <div class="left-column">
      <div class="main-content">
        <h1 style="
    font-weight: bold;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;                                                         
    margin-right: 25%;">  <i style="color: #007dfe;">Revolutionizing</i> <i style="color: #66CA98;">Healthcare</i></h1>
  
        <p style="margin-left: 15%;margin-right: 2%;">Your Personalized Medical Assistant Powered by AI</p>
  
        <div class="stats">
  <div class="stat-item">
    <span style="color: #66CA98;" class="stat-number">300+</span>
    <span  class="stat-name">Courses</span>
  </div>
  <div class="stat-item">
    <span style="color: #66CA98;" class="stat-number">50+</span>
    <span class="stat-name">Expert Mentors</span>
  </div>
  <div class="stat-item">
    <span  style="color: #379BD8;" class="stat-number">1000+</span>
    <span class="stat-name">Hours of Content</span>
  </div>
  </div>
  
     </div>
    </div>
    <div class="right-column">
      <img src=".\..\..\assets/homeIm.jpg" alt="Description de l'image">
    </div>
  </div>